.intro-acerca {
    text-align: center;
    padding: $padding-large $padding-base;
    background-color: $warm-accent; // Fondo de destacadas
    border-radius: 10px;
    margin-bottom: $padding-large;
  
    h1 {
      font-size: 32px;
      margin-bottom: $padding-small;
      color: $dark-gray; // Texto principal
    }
  
    h3 {
      font-size: $font-large;
      color: $medium-gray; // Subtítulo
      margin-bottom: $padding-base;
    }
  }
  
  .nuestra-historia {
    padding: $padding-large $padding-base;
    background-color: $white; // Fondo blanco
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto $padding-large;
    max-width: $max-width;
    text-align: center;
    line-height: 1.8;
  
    h4 {
      font-size: 24px;
      margin-bottom: $padding-small;
      color: $medium-gray; // Subtítulo
    }
  
    p {
      font-size: $font-base;
      color: $medium-gray; // Texto del párrafo
      line-height: 1.6;
      text-align: justify;
      margin: auto;
      padding: $padding-base;
    }
  }
  
  .equipo {
    text-align: center;
    padding: $padding-large $padding-base;
  
    h4 {
      font-size: 20px;
      margin-bottom: $padding-base;
      color: $medium-gray; // Texto del título
    }
  
    .integrantes {
      display: flex;
      justify-content: center;
      gap: $padding-base;
      flex-wrap: wrap;
    }
  
    .integrante {
      text-align: center;
      width: 150px;
    }
  
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: $padding-small;
    }
  
    p {
      font-size: $font-small; // Texto pequeño
      color: $medium-gray; // Texto del integrante
    }
  }
  
  .frase-motivacional-equipo {
    padding: $padding-base;
    background-color: $light-gray; // Fondo claro
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
    p {
      font-size: $font-base;
      color: $medium-gray; // Texto de la frase
      line-height: 1.6;
      font-style: italic;
    }
  }  