.intro-contenido {
    background-color: #f7eeaa;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.intro-contenido h1 {
    font-size: 32px;
    color: #212529;
}

.intro-contenido h3 {
    font-size: 18px;
    color: #555;
}
