.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.servicio .imagen-servicio-individual img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.servicio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}