//Acerca de
$dark-gray: #212529; // Texto principal y títulos
$medium-gray: #333;  // Subtítulos o texto secundario
$light-gray: #f2f2f2; // Fondo de secciones claras
$warm-accent: #f7eeaa; // Fondo de destacadas o llamadas de atención
$white: #ffffff; // Fondo general o texto sobre fondos oscuros