/* Ajustar videos para que sean responsivos */
.video {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 20px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.video-section {
    background-color: #f7eeaa;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}